body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgba(205, 233, 228, 0.825);
}
.container {
    width: 25rem;
    height: 25rem;
    background-color: rgba(72, 151, 138, 0.277);
    padding: 1rem;
    text-align: center;
    border-radius: 20px;
    box-shadow:  5px 6px rgba(30, 30, 29, 0.101);
}
hr {
    border: 1px solid #193c1c3b; 
    margin: 20px 0;
}
span {
    font-size: 2rem;  
    color: rgba(32, 32, 40, 0.696);  
}
.buttons {
    margin-top: 2rem;
}
button {
    margin: 5px;
    border: none;
    padding: 8px;
    border-radius: 5px;
    cursor: pointer;
}
.subtract {
    background-color: rgb(219 94 135);
    color: white;
}
.add {
    background-color: rgba(47, 116, 65, 0.713);
    color: white;
}
img {
    height: 150px;
}
h1 {
    color: rgba(32, 32, 40, 0.696);
}
.subtract:hover {
    transform: scale(1.2);
    transition: transform 0.3s ease-in-out;
    opacity: 0.8;
}    
.add:hover {
    transform: scale(1.2);
    transition: transform 0.3s ease-in-out;
    opacity: 0.8;
}
.reset:hover {
    transform: scale(1.2);
    transition: transform 0.3s ease-in-out;
    opacity: 0.8;
    }